.post-layout,.default-layout {
    margin: 0 auto;
    max-width: 650px;
}

.post-layout {
    * {
        max-width: 100%;
    }

    main {
        margin-top: 30px;
    }
}

.home {
    * {
        max-width: 100%;
    }
}

.header-layout {
    margin: 140px 0px 60px;
    text-transform: uppercase;

    nav {
        margin-top: 20px;
    }
}